n8n/workflows/dashboard-automation-step2.json
{
  "name": "Dashboard Automation Step 2 - Repo Connected",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 260]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"task_id\": \"{{ $json.task_id || ('task-' + Date.now()) }}\",\n  \"objective\": \"{{ $json.objective || 'Implement approved dashboard scope incrementally' }}\",\n  \"workspace_path\": \"{{ $json.workspace_path || '/opt/homebrew/var/www/TKIF_scholarship' }}\",\n  \"scope_files\": {{ $json.scope_files || ['public/views/dashboard.php','public/index.php','app/lib/profile.php','sql/schema.sql'] }},\n  \"constraints\": {{ $json.constraints || [\n    'Do not rebuild system',\n    'Keep existing scholarship functionality',\n    'No AI analytics/recommendations',\n    'No finance/revenue/accounting features',\n    'Use existing routes, roles, and design system'\n  ] }},\n  \"acceptance_criteria\": {{ $json.acceptance_criteria || [\n    'Role-based visibility preserved',\n    'No hardcoded KPI values',\n    'Empty states are safe',\n    'Exports remain permission-gated'\n  ] }}\n}"
      },
      "id": "2",
      "name": "Normalize Task Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 260]
    },
    {
      "parameters": {
        "command": "=WORKSPACE='{{$json.workspace_path}}'\nif [ ! -d \"$WORKSPACE\" ]; then\n  echo '{\"error\":\"workspace_not_found\"}'\n  exit 1\nfi\ncd \"$WORKSPACE\"\nBRANCH=$(git rev-parse --abbrev-ref HEAD 2>/dev/null || echo 'unknown')\nSTATUS=$(git status --short 2>/dev/null | head -n 20 | sed ':a;N;$!ba;s/\\n/\\\\n/g')\nFILES=$(find app public sql -type f | head -n 200 | sed ':a;N;$!ba;s/\\n/\\\\n/g')\nprintf '{\"workspace\":\"%s\",\"branch\":\"%s\",\"status\":\"%s\",\"files\":\"%s\"}\\n' \"$WORKSPACE\" \"$BRANCH\" \"$STATUS\" \"$FILES\""
      },
      "id": "3",
      "name": "Gather Repository Context",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [700, 260]
    },
    {
      "parameters": {
        "jsCode": "const task = $('Normalize Task Input').first().json;\nlet context = {};\ntry {\n  context = JSON.parse(($json.stdout || '{}').trim());\n} catch (e) {\n  context = { parse_error: String(e) };\n}\n\nconst codeCreationPrompt = [\n  'Role: Code Creation Agent',\n  'You are modifying an existing MultiScholarship platform.',\n  'Constraints:',\n  ...(task.constraints || []).map((c) => `- ${c}`),\n  'Task Objective:',\n  task.objective || '',\n  'Required Output JSON keys:',\n  '- changed_files: string[]',\n  '- patch_diff: string (unified diff)',\n  '- migration_sql: string|null',\n  '- test_commands: string[]',\n  '- risk_notes: string[]',\n  'Use existing architecture and keep changes minimal and reversible.'\n].join('\\n');\n\nconst validationPrompt = [\n  'Role: Validation Agent',\n  'Validate generated patch for logic, behavior, and acceptance criteria.',\n  'Acceptance Criteria:',\n  ...((task.acceptance_criteria || []).map((c) => `- ${c}`)),\n  'Required Output JSON keys:',\n  '- pass: boolean',\n  '- defects: array of {severity,file,issue,fix}',\n  '- regression_risks: string[]',\n  '- missing_tests: string[]'\n].join('\\n');\n\nconst securityPrompt = [\n  'Role: Security Review Agent',\n  'Check RBAC, input validation, CSRF, auth/session boundaries, secret exposure, and unsafe dependencies.',\n  'Required Output JSON keys:',\n  '- pass: boolean',\n  '- findings: array of {severity,file,issue,fix}',\n  '- blocked: boolean'\n].join('\\n');\n\nconst uiPrompt = [\n  'Role: UI Error Fixing Agent',\n  'Check responsive layout, accessibility, empty/loading/error states, and interaction defects.',\n  'Required Output JSON keys:',\n  '- pass: boolean',\n  '- ui_issues: array of {severity,file,issue,fix}',\n  '- css_or_markup_patch: string'\n].join('\\n');\n\nreturn [{\n  json: {\n    ...task,\n    repository_context: context,\n    prompts: {\n      code_creation: codeCreationPrompt,\n      validation: validationPrompt,\n      security: securityPrompt,\n      ui: uiPrompt\n    }\n  }\n}];"
      },
      "id": "4",
      "name": "Build Agent Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 260]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $env.AGENT_ORCHESTRATOR_URL || '' }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5",
      "name": "Agent Endpoint Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1180, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.AGENT_ORCHESTRATOR_URL || '') + '/code-creation' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task_id\": $json.task_id,\n  \"workspace_path\": $json.workspace_path,\n  \"repository_context\": $json.repository_context,\n  \"prompt\": $json.prompts.code_creation\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "6",
      "name": "Code Creation Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 180]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    pass: false,\n    reason: 'missing_AGENT_ORCHESTRATOR_URL',\n    next_action: 'Configure AGENT_ORCHESTRATOR_URL env var in n8n and re-run.'\n  }\n}];"
      },
      "id": "7",
      "name": "Endpoint Missing - Stop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 360]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\nconst changedFiles = payload.changed_files || [];\nconst patch = payload.patch_diff || '';\nconst valid = Array.isArray(changedFiles) && changedFiles.length > 0 && typeof patch === 'string' && patch.trim() !== '';\nreturn [{ json: { ...payload, output_contract_ok: valid } }];"
      },
      "id": "8",
      "name": "Check Code Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 180]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.output_contract_ok }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "9",
      "name": "Code Output Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1880, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.AGENT_ORCHESTRATOR_URL || '') + '/validation' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task_id\": $json.task_id || $('Build Agent Prompts').first().json.task_id,\n  \"prompt\": $('Build Agent Prompts').first().json.prompts.validation,\n  \"candidate_patch\": {\n    \"changed_files\": $json.changed_files,\n    \"patch_diff\": $json.patch_diff,\n    \"migration_sql\": $json.migration_sql || null\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "10",
      "name": "Validation Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2110, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.pass }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "11",
      "name": "Validation Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2330, 100]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "dashboard-step2-approval"
        }
      },
      "id": "12",
      "name": "Human Approval Gate",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2550, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.approved || false }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "13",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2770, 100]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"approved_step2\",\n  \"message\": \"Step 2 complete. Patch generation + validation passed and approval received.\",\n  \"next_step\": \"Integrate Security Review Agent (Step 3)\"\n}"
      },
      "id": "14",
      "name": "Step 2 Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3000, 40]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"needs_changes\",\n  \"message\": \"Step 2 stopped: validation failed, output contract failed, or approval not granted.\"\n}"
      },
      "id": "15",
      "name": "Stop - Needs Changes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2550, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Normalize Task Input", "type": "main", "index": 0 }]]
    },
    "Normalize Task Input": {
      "main": [[{ "node": "Gather Repository Context", "type": "main", "index": 0 }]]
    },
    "Gather Repository Context": {
      "main": [[{ "node": "Build Agent Prompts", "type": "main", "index": 0 }]]
    },
    "Build Agent Prompts": {
      "main": [[{ "node": "Agent Endpoint Configured?", "type": "main", "index": 0 }]]
    },
    "Agent Endpoint Configured?": {
      "main": [
        [{ "node": "Code Creation Agent", "type": "main", "index": 0 }],
        [{ "node": "Endpoint Missing - Stop", "type": "main", "index": 0 }]
      ]
    },
    "Code Creation Agent": {
      "main": [[{ "node": "Check Code Agent Output", "type": "main", "index": 0 }]]
    },
    "Check Code Agent Output": {
      "main": [[{ "node": "Code Output Valid?", "type": "main", "index": 0 }]]
    },
    "Code Output Valid?": {
      "main": [
        [{ "node": "Validation Agent", "type": "main", "index": 0 }],
        [{ "node": "Stop - Needs Changes", "type": "main", "index": 0 }]
      ]
    },
    "Validation Agent": {
      "main": [[{ "node": "Validation Passed?", "type": "main", "index": 0 }]]
    },
    "Validation Passed?": {
      "main": [
        [{ "node": "Human Approval Gate", "type": "main", "index": 0 }],
        [{ "node": "Stop - Needs Changes", "type": "main", "index": 0 }]
      ]
    },
    "Human Approval Gate": {
      "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]]
    },
    "Approved?": {
      "main": [
        [{ "node": "Step 2 Complete", "type": "main", "index": 0 }],
        [{ "node": "Stop - Needs Changes", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "2",
  "active": false,
  "tags": [
    { "name": "dashboard" },
    { "name": "automation" },
    { "name": "step2" }
  ]
}
